a {	text-decoration: none; }

a:hover {
	text-decoration : underline;
	cursor: pointer;
}

a:active { text-decoration : underline; }

b, strong {	font-weight: bold; }

.off { display: none; }

.hidden { visibility: hidden; }

.coreProgress {
	border: 0;
	vertical-align: top;
}

.warning {
	color: red;
	font-size: 9px;
	font-weight: normal;
	text-align: left;
	display: block;
}

.glErr {
	border: 1px solid #bec7d2;
	padding: 50px 10px 50px 10px;
	margin: 100px auto 0 auto;		
	text-align: center;	
	font-size: 16px;
	font-weight: bold; 
	color: red;
	width: 400px;
	font-family: 'Tahoma';
}

.nbut {
	border-spacing: 0;
	border-collapse: collapse;
	cursor: pointer;
}

.sessionTimeout {
	border: 1px solid #BCBEC0;
	background-color: #FFFFFF;
	width: 400px;
	padding: 10px 10px 40px 10px;
}

.sessionTimeoutText {
	color: #58595B;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	font-size: 12px;
	text-align: justify;
	padding: 0 30px 0 30px
}

.sessionTimeoutButton {
	font-family: 'Trebuchet MS';
	font-size: 13px;
	font-weight: bold;
	color: #0D0D0D;
	background-color: #D1D3D4;
	border: 1px solid #BCBEC0;
	padding: 3px 10px 3px 10px;
}

.sessionTimeoutButtons {
	margin: 20px auto 0 auto;
	text-align: center;
}

.sessionTimeoutButtonWarn {
	margin-right: 40px;
}

.sessionTimeoutClose {
	margin-bottom: 10px;
	text-align: right;
}
.sessionTimeoutClose img {
	border: 0;
	cursor: pointer;
}

.tbl {
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.fl { float: left; }
.fr { float: right; }
.oh { overflow: hidden; }
.w100 { width: 100%; }
.vam { 
	vertical-align: top !important;
	padding-top: 1px;
}
.vat { vertical-align: top !important; }
.nwp { white-space: nowrap; }

.tl { text-align: left !important; }
.tr { text-align: right !important; }
.tc { text-align: center !important; }
.b, .text-bold { font-weight: bold !important; }
.i { font-style: italic; }

.keyInfo {
	font-family: 'Verdana' !important;
	font-size: 9px !important;
	font-variant: small-caps !important; 
	color:#800000 !important;
	background-color: yellow !important;
	font-style: normal !important;
}

.niceHide {
	visibility: hidden;
	height: 1px;
	width: 1px;
	position: absolute;
	top: -10px;
	left: -10px;
}

.dlgWait {
	width: 126px;
	height: 22px;
}

.pointer, .sortable {
	cursor: pointer;
}

.table-row:hover { 
	box-shadow: 0px 0px 5px 1px rgba(160, 160, 160, 0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(160, 160, 160, 0.5);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(160, 160, 160, 0.5);
	cursor: pointer; 
}

.app-datatable-center { width: auto; margin-left: auto; margin-right: auto; display: table; }
.app-datatable-row-exp:hover { background-color: #ffffff !important; }
.app-datatable-row-exp-cell {
	padding-top: 0 !important;
}
.app-datatable-row-exp-ctl {
	background-color: #ffffff !important;
}
.app-datatable-row-exp-ctl > span > .panel {
	margin: 0 !important;
	border-radius: 0 !important;
	border: none !important;
}
.app-datatable-row-exp-ctl > span > .panel > .panel-heading {
	border-radius: 0 !important;
}
.app-datatable-row-exp-ctl > span > .panel > .panel-footer {
	border-radius: 0 !important;
	padding: 5px !important;
	overflow: hidden;
}
.app-datatable-row-exp-ctl > span > .panel > .panel-footer .btn {
	margin-right: 10px;
}
.app-datatable .pagination { margin: 0 !important; display: block; }

/* xs */
@media (max-width: 767px) {
	.text-right-xs { text-align: right; }
}

/* sm */
@media (min-width: 768px) {
	.text-right-sm { text-align: right; }
}

/* md */
@media (min-width: 992px) {
	.text-right-md { text-align: right; }
}

/* lg */
@media (min-width: 1200px) {
	.text-right-lg { text-align: right; }
}
