#content-box h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
}
 /* *{} means everything.. we are applying Roboto font to everything in the page. bujhis ? */

*{ 
    font-family: 'Roboto', sans-serif;
}

#content-box .card-text.small-text{

  font-size: 12px; 
  text-align: left; 
}
#content-box .card-text.large-text{
    font-size: 20px;
    font-weight: bold;
}
#content-box .card-text.text-large{
    font-size: 15px;
    font-weight: smsll;
}
#content-box .card-text.text-normal{
    font-size: 15px;
}
#content-box .card-text.medium{
    font-size: 17px;
}