@CHARSET "UTF-8";

.app-cookie { 
	position: absolute; 
	bottom: 25px; 
	left: 25px; 
	background: #ffffff url(/images/18/img08.png) 30px 50% no-repeat; 
	padding: 0 32px 30px 205px;
	min-height: 180px; 
	box-shadow: 0px 0px 50px 0px rgba(74, 74, 74, 0.5);
	font-size: 16px;
	font-weight: 300;
}
.app-cookie div { font-family: 'Playfair Display', serif; font-weight: bold; font-style: italic; font-size: 26px; padding-bottom: 15px; }
.app-cookie span { display: flex; height: 35px; align-items: center; justify-content: flex-end; margin-right: -20px; }
.app-cookie span img { cursor: pointer; }

.app-process-dialog { background-color: #ffffff; padding: 15px; }
.app-process-dialog-1 { border: 1px solid #808080; }
.app-process-dialog-1 > p { display: flex; align-items: center; justify-content: center; margin: 50px 0 0 0; }
.app-process-dialog-1 img { margin-right: 30px; }
.app-process-dialog-2 { display: table; margin: 50px auto 30px auto; }

/* home */

.app-home-body {
	background: url(/images/18/img01.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#home h1 { font-size: 40px; font-weight: bold; font-style: italic; line-height: 1.1em; text-align: center; margin: 0; }
.app-home-1 { height: 1px; background-color: #808080; width: 300px; margin: 20px auto 20px auto; }
.app-home-2 { font-size: 15px; font-weight: 300; text-align: center; }
.app-home-2 div { font-size: 20px; font-weight: bold; padding: 10px 0 10px 0; }
.app-home-2 b { font-size: 500; }
.app-home-3 { display: table; margin: 25px auto 25px auto; }
.app-home-4 { font-size: 12px; text-align: center; }
.app-home-5 { display: block; margin: 5px auto 0 auto; }
.app-home-6 { font-size: 12px; line-height: 16px; }
.app-home-6 b { font-size: 12px; font-weight: bold; }
.app-home-6 div { background: url(/images/18/img04.png) 0 4px no-repeat; padding-left: 45px; margin-top: 20px; font-weight: bold; font-size: 12px; }

/* inquiry */ 

.app-inq-1 { display: flex; flex-direction: column; min-height: 240px; align-items: center; justify-content: center; font-size: 18px; font-weight: 300; text-align: center; padding: 0 15px 0 15px; }
.app-inq-1 div { font-size: 30px; font-weight: bold; }
.app-inq-1 p { margin: 25px 0 0 0; position: relative; }
.app-inq-1 p .circular { width: 50px; height: 50px; }
.app-inq-2 { background-image: url(/images/img01.png); background-repeat: no-repeat; font-size: 17px; }
.app-inq-2 b { font-size: 17px; }
.app-inq-2 h4 { font-size: 30px; font-weight: bold; margin: 0 0 15px 0; }
.app-inq-2 > div { font-size: 20px; font-weight: bold; padding-bottom: 20px; line-height: 24px; background: url(/images/18/img06.png) bottom left no-repeat; }
.app-inq-2 p { margin: 20px 0 40px 0; font-size: 15px; font-weight: 300; line-height: 18px; }
.app-inq-3 { display: table; margin: 70px 0 0 auto; }
.app-inq-4 { padding: 35px 20px 20px 20px !important; }
.app-inq-5 { text-align: center; font-size: 18px; font-weight: 300; display: table; margin: 0 auto 40px auto; }
.app-inq-5 div { font-size: 30px; font-weight: bold; margin: 10px 0 20px 0; line-height: 36px; display: flex; align-items: center; justify-content: center; }
.app-inq-5 div img { margin-right: 15px; }
.app-inq-qst-13 .app-inq-5 div { background: url(/images/img10.png) center left no-repeat; padding-left: 50px; min-height: 40px; }
.app-inq-qst-14 .app-inq-5 div { background: url(/images/img09.png) center left no-repeat; padding-left: 50px; min-height: 40px; }
.app-inq-qst-15 .app-inq-5 div { background: url(/images/img11.png) center left no-repeat; padding-left: 50px; min-height: 40px; }
.app-inq-6 { margin: -36px -21px 35px -21px; display: flex; flex-direction: column; min-height: 250px; align-items: center; justify-content: center; font-size: 45px; font-weight: 800; background-position: 0 0; background-repeat: no-repeat; }
.app-inq-6 div  { font-size: 50px; font-weight: bold; }
.app-inq-6, .app-inq-6 div { text-shadow: 6px 0px 6px rgba(0, 0, 0, 1); font-family: 'Playfair Display', serif; color: #ffffff; font-style: italic; }
.app-inq-answers { display: flex; flex-wrap: wrap; margin: 0 auto 0 auto; }
.app-inq-answer { margin-bottom: 15px; position: relative; }
.app-inq-answer img { max-width: 100%; height: auto; }
.app-inq-answer-foot { position: absolute; left: 0; bottom: 0; background-color: rgba(0,0,0,0.6); display: flex; height: 60px; align-items: center; justify-content: center; color: #ffffff; font-size: 11px; font-weight: 300; flex-direction: column; width: 100%; text-align: center; }
.app-inq-answer-foot > div { font-size: 16px; font-weight: 500; color: #ffffff; }
.app-inq-answer-sel { display: none; position: absolute; left: 0; top: 0; align-items: center; justify-content: center; background-color: rgba(255, 255, 255, 0.75); cursor: pointer; width: 100%; height: 100%; }
.app-inq-answer:hover .app-inq-answer-sel, .app-inq-answer.selected .app-inq-answer-sel { display: flex; }
.app-inq-answer-pers { display: flex; height: 50px; border: 1px solid #f6f6f6; align-items: center; justify-content: center; font-size: 16px; color: #3c3c3c; background-color: #fafafa; margin-bottom: 20px; }
.app-inq-answer-pers:hover, .app-inq-answer-pers.selected { background-color: #ff6464; cursor: pointer; color: #ffffff; }
.app-inq-foot { display: flex; align-items: center; margin-top: 20px; }
.app-inq-foot-1 { cursor: pointer; font-size: 15px; color: #3c3c3c; }
.app-inq-foot-1 .fa { color: #3c3c3c; margin-right: 8px; font-size: 18px; font-weight: bold; }
.app-inq-foot-2 { margin: 0 0 0 auto; font-size: 15px; color: #3c3c3c; }

.app-inqf-1 { padding: 36px 40px 38px 40px; }
.app-inqf-2 { display: flex; align-items: flex-start; margin-bottom: 25px; }
.app-inqf-2a { margin-top: 60px; }
.app-inqf-2 > div:first-of-type { padding-right: 28px; }
.app-inqf-2 > div:last-of-type div { font-size: 30px; font-weight: bold; line-height: 35px; padding-bottom: 20px; }
.app-inqf-2 > div:last-of-type { font-size: 15px; line-height: 22px; padding-top: 5px; }
.app-inq-agr { margin-top: 15px; display: none; }
.app-inq-agr-1 .checkbox-label, .app-inq-agr-1 .checkbox-label * { font-size: 14px; }

/* contact */ 

.app-ctc-1 { font-size: 25px; font-weight: bold; display: flex; align-items: center; margin-bottom: 25px; }
.app-ctc-1 img { margin-right: 20px; }
.app-ctc-ctl .app-btn-wrp-1 { margin: 30px 0 40px auto; }
.app-ctc-4 { border-top: 1px solid rgba(0,0,0,0.20); padding-top: 35px; margin-top: 15px; }
.app-ctc-5 { display: flex; align-items: flex-start; font-size: 15px; font-weight: 300; line-height: 22px; }
.app-ctc-5 b { font-size: 20px; font-weight: bold; display: flex; height: 50px; align-items: center; }
.app-ctc-5 img { margin-right: 25px; width: 50px; height: auto; min-width: 50px; }
#ctcInfo { display: none; height: 100px; text-align: center; padding: 40px; }

/* about */

.app-about h4 { font-size: 40px; font-family: 'Playfair Display', serif; font-weight: bold; font-style: italic; line-height: 48px; text-align: center; padding-bottom: 15px; margin: 0 auto 22px auto; display: table; min-width: 300px; border-bottom: 1px solid #808080; }
.app-about div { font-size: 20px; line-height: 25px; font-weight: bold; text-align: center; padding-bottom: 25px; }
.app-about p, .app-about p * { font-size: 15px; line-height: 20px; font-weight: 300; margin: 0; }

/* terms, privacy */

.app-pg-ctl h4 { font-size: 25px; font-weight: bold; padding-left: 72px; min-height: 50px; padding-top: 8px; }
.app-pg-ctl div { font-size: 20px; line-height: 25px; padding: 10px 0 10px 0; font-weight: bold; }
.app-pg-ctl div * { font-size: 20px; font-weight: bold; }
.app-pg-ctl ol { margin: 0; counter-reset: item; }
.app-pg-ctl ol > li > ol { padding: 0; }
.app-pg-ctl ol > li { counter-increment: item; }
.app-pg-ctl ol ol > li { display: block; }
.app-pg-ctl ol ol > li:before { content: counters(item, ".") ". "; }
.app-pg-ctl p, .app-pg-ctl li {	font-size: 15px; font-weight: 300; line-height: 20px; margin: 0; }
.app-pg-ctl a, .app-pg-ctl b { font-size: 15px; font-weight: bold; }
#terms .app-pg-ctl h4 { background: url(/images/img05.png) 0 0 no-repeat; }
#privacy .app-pg-ctl h4 { background: url(/images/img06.png) 0 0 no-repeat; }

/* board */

.app-board h4 { font-size: 25px; font-weight: bold; background: url(/images/img05.png) 0 0 no-repeat; padding-left: 72px; min-height: 50px; padding-top: 8px; }
.app-board-label {
	font-size: 15px;
	text-align: right;
	padding-top: 5px;
}
.app-board-control { margin-bottom: 15px; }
.app-board-control select, .app-board-control option {
	font-size: 15px;
}
.app-board-control select { border: 1px solid #e1e1e1; border-radius: none; }
.app-board-1 { padding-left: 0; }
.app-board-4 {
	background-color: #d9dada;
	width: 100%;
}
.app-board-4 div {
	display: table-cell;
	vertical-align: middle;
	height: 43px;
	font-weight: bold;
	font-size: 0.875rem;
	color: #303030;
	text-align: center;
	padding: 0 15px 0 15px;
}
.app-board-5 {
	text-align: center;
	color: #232323;
	padding-top: 15px;
	font-size: 0.813rem;
}
.app-board-6 {
	text-align: center;
	color: #232323;
	font-size: 0.813rem;
}
.app-board-7 { color: #888888; font-size: 0.813rem; }
.app-board-8 {
	padding: 15px 0 25px 0;
	margin: 0;
}
.app-board-8:nth-child(2n) { background-color: #f6f6f6; } 
.hbPrcs {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 auto 20px auto;
}
.hbPrc { display: table-row; }
.hbPrc div {
	font-size: 0.813rem;
	font-weight: bold;
	color: #FF6600;
	white-space: nowrap;
	display: table-cell;
}
.hbPrc1 { 
	padding: 0 3px 0 0;
	width: 90px; 
}
.hbPrc3 {
	padding: 0 0 0 3px;
	text-align: right;
	width: 70px;
}
