@CHARSET "UTF-8";
/* xs */
@media (max-width: 767px) {
	body, .app-home-body { background: none; }
	.container { padding: 0; }
	.app-top { padding-left: 22px; padding-right: 22px; margin-bottom: 0; }
	.app-top h4 { display: none; }
	.app-foot { margin-top: 0; }
	.app-foot .container { justify-content: center; }
	.app-btn-1 { background-position: calc(100% - 15px) 50%; padding: 0 50px 0 15px; font-size: 16px;}
	.app-home-1 { width: 100%; margin: 20px auto 20px auto; }
	.app-home-2 b { font-size: 15px; }
	.app-home-4 { font-weight: 300; }
	.app-home-6 { opacity: 0.5; }
	.app-home-6 div { padding-left: 30px; color: #000000; }
	.app-inq-1 { font-size: 16px; min-height: auto; }
	.app-inq-1 div { font-size: 25px; }
	.app-inq-2 { background: none; }
	.app-inq-2 > div { font-size: 18px; line-height: 22px; }
	.app-inq-2 p { margin-bottom: 0; }
	.app-inq-2 b { font-size: 15px; }
	.app-inq-2 h4 { font-size: 25px; }
	.app-inq-3 { margin-top: 25px; margin-right: auto; }
	.app-inq-5 { font-size: 16px; margin-bottom: 20px; }
	.app-inq-5 div { font-size: 25px; }
	.app-inq-5 div img { width: 40px; height: auto; }
	.app-inq-6 { background: none !important; font-size: 20px; text-shadow: none; color: #000000; min-height: auto; margin-bottom: 10px; }
	.app-inq-6 div { font-size: 30px; color: #000000; text-shadow: none; margin-top: 20px; }
	.app-inqf-2 > div:first-of-type { display: none; }
	.app-inqf-2 > div:last-of-type div { font-size: 25px; line-height: 35px; }
	.app-inq-agr-1 .app-agr-chk { margin-left: 0; }
	.app-inq-agr-1 .checkbox-label, .app-inq-agr-1 .checkbox-label * { font-size: 12px; }
	.app-inq-foot { min-height: 80px; padding: 0 20px 0 20px; background-color: #E4E4E4; margin-top: 0; }
	.app-inq-answers { justify-content: center; }
	.app-inq-answer-pers { width: 100%; }
	.app-cookie { bottom: 0; left: 0; background: #ffffff; padding: 0 22px 17px 22px; width: 100%; box-shadow: 0px 0px 50px 4px rgba(74, 74, 74, 0.5); font-size: 14px; line-height: 18px; text-align: center; min-height: auto; }
	.app-cookie span { padding-right: 10px; }
	.app-cookie div { font-size: 22px; line-height: 28px; padding-bottom: 9px; }
	.app-process-dialog { width: 100%; }
	.app-process-dialog-1 { padding: 40px 20px 40px 20px; }
	.app-process-dialog-1 img { margin-right: 15px; }
	.app-cnt { background-color: #E4E4E4; padding: 20px 22px 20px 22px; height: 80px; }
	.app-cnt p { font-size: 16px; line-height: 20px; }
	.app-inqf-1 { padding: 15px; }
	.app-blk-1 { padding: 0; }
	.app-blk-1 > div { border: none; padding: 22px; }
	.app-inqf-2a { margin-top: 30px; }
	.app-blk-3a { display: none; }
	.app-blk-3b h4 { background: none; font-size: 25px; padding: 0 0 30px 0; line-height: 1.1em; }
	.app-blk-3b div { padding-left: 37px; background-position: 0 0; }
	.app-form-label { align-items: flex-end; height: auto; justify-content: flex-start; padding-bottom: 5px; padding-top: 5px; text-align: left; }
	.app-ord-pmt-1 { padding: 0 0 25px 0; background: none !important; }
	.app-ord-pmt-1 div { flex-direction: column-reverse; line-height: 1.1em; align-items: flex-start; }
	.app-ord-pmt-1 div span { margin: 0 auto 15px 0; }
	.app-ord-pmt-1 p { font-size: 15px; margin-top: 15px; line-height: 22px; }
	.app-ord-pmt-4b { display: none; }
	.app-ord-cod-warn { padding: 10px; margin-top: 30px; margin-bottom: 10px; min-height: 70px; }
	.app-ord-cod-warn span { font-size: 13px; line-height: 18px; }
	.app-ord-cod-warn img { display: none; }
	.app-cnf-chk-2 div, .app-cnf-chk-3 div { background: none; padding-left: 0; }
	.app-cnf-chk-4 span div { line-height: 30px; padding-bottom: 15px; }
	.app-cnf-chk-4 span { font-size: 18px; line-height: 22px; }
	.app-cnf-chk-4 span:first-of-type { display: none; }
	.app-cnf-chk-5, .app-cnf-chk-6 { margin-left: 0; }
	.app-cnf-chk-6 ol { margin-left: -20px; }
	.app-cnf-chk-6 div { display: block; }
	.app-ctc-1 img, .app-ctc-5 img { display: none; }
	.app-ctc-4 { padding-top: 0; }
	.app-ctc-5 { margin-top: 25px; }
	.app-ref-2 div { font-size: 25px; }
	.app-pg-ctl h4, .app-board h4 { padding-left: 0; background: none !important; }
	#home h1 { font-size: 30px; line-height: 41px; }
}

/* sm */
@media (min-width: 768px) {
	.app-cookie { width: 680px; }
	.app-top h4 { display: none; }
	.app-foot .container { justify-content: center; }
	.app-blk-1 > div { padding: 20px; }
	.app-inq-2 { background-position: 20px 20px; padding-left: 55px !important; }
	.app-inq-answers { justify-content: center; }
	.app-inq-answer-pers { width: 335px; }
	.app-inq-answer-pers:nth-of-type(odd) { margin-right: 20px; }
	.app-process-dialog { width: 600px; }
	.app-blk-3a { margin: -21px -21px 20px -21px; }
	.app-ord-e2 .app-ord-h1 { padding-left: 72px; background: url(/images/18/img18.png) 0 0 no-repeat; min-height: 50px; padding-top: 7px; margin-bottom: 25px; }
	.app-ord-e1 { margin-left: 35px; }
}

/* md */
@media (min-width: 992px) {
	.app-top h4 { display: block; }
	.app-foot .container { justify-content: flex-start; }
	.app-blk-1, .app-cnt, .app-blk-1-wrp { width: 800px; margin: 0 auto 0 auto; }	
	.app-inq .app-blk-1, .app-inq .app-cnt, .app-inq .app-blk-1-wrp { width: 900px; }
	.app-blk-1 > div { padding: 40px; }
	.#home h1, .app-home-1, .app-home-2 { padding-left: 60px; padding-right: 60px; }
	.app-inq-2 { background-position: 40px 40px; padding-left: 110px !important; }
	.app-inq-answers { width: 690px; }
	.app-inq .app-inq-answers { width: 815px; }
	.app-inq-answer:nth-of-type(odd) { margin-right: 15px; }
	.app-inq-answer-pers { width: 335px; }
	.app-inq-answer-pers:nth-of-type(odd) { margin-right: 20px; }
	.app-process-dialog { width: 800px; }
	.app-blk-3a { margin: -41px -41px 40px -41px; }
	.app-ord-pmt-3 { padding: 0 130px 0 130px; }
	.app-ord-cod-warn { width: 540px; margin-left: auto; margin-right: auto; } 
	.fuelux .radio-custom::after { border-radius: 12px; width: 12px; height: 12px; left: 8px; top: 2px; }
	.fuelux .radio-custom::before { border-radius: 28px; width: 28px; height: 28px; top: -6px; }
	.checkbox label, .radio label { padding-left: 35px; }
	.app-ord-e3 { margin-left: 30px; }
	.app-ref-2 div { background: url(/images/18/img19.png) 0 0 no-repeat; padding-left: 72px; padding-top: 5px; min-height: 50px; }
}

/* lg */
@media (min-width: 1200px) {
}
